In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:\Users\harsh\Desktop\LAB ML\LINEAR reg\Milage Prediction\auto-mpg.csv")

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
data.dtypes
#Here as we can see horsepower's datatype is object

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [6]:
for i in data['origin']:
    if i == 1:
        data['origin'] = data['origin'].replace({1:"America"})
    elif i == 2:
        data['origin'] = data['origin'].replace({2:"European"})
    else:
        data['origin'] = data['origin'].replace({3:"Asia"})
        
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,America,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,America,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,America,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,America,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,America,ford torino

In [7]:
data = data.drop("car name" , axis = 1)

In [8]:
data.median()

C:\Users\harsh\AppData\Local\Temp\ipykernel_22740\4184645713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
dtype: float64

In [9]:
data = data.replace('?',93.5)

In [10]:
data = pd.DataFrame(data)
data["horsepower"] = data["horsepower"].astype("float")
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,America
1,15.0,8,350.0,165.0,3693,11.5,70,America
2,18.0,8,318.0,150.0,3436,11.0,70,America
3,16.0,8,304.0,150.0,3433,12.0,70,America
4,17.0,8,302.0,140.0,3449,10.5,70,America

In [11]:
data = pd.get_dummies(data, columns=['origin'])

In [12]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_America,origin_Asia,origin_European
0,18.0,8,307.0,130.0,3504,12.0,70,1,0,0
1,15.0,8,350.0,165.0,3693,11.5,70,1,0,0
2,18.0,8,318.0,150.0,3436,11.0,70,1,0,0
3,16.0,8,304.0,150.0,3433,12.0,70,1,0,0
4,17.0,8,302.0,140.0,3449,10.5,70,1,0,0

In [13]:
X = data.iloc[:,1:9]
X

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_America,origin_Asia
0,8,307.0,130.0,3504,12.0,70,1,0
1,8,350.0,165.0,3693,11.5,70,1,0
2,8,318.0,150.0,3436,11.0,70,1,0
3,8,304.0,150.0,3433,12.0,70,1,0
4,8,302.0,140.0,3449,10.5,70,1,0
...,...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1,0
394,4,97.0,52.0,2130,24.6,82,0,0
395,4,135.0,84.0,2295,11.6,82,1,0
396,4,120.0,79.0,2625,18.6,82,1,0
397,4,119.0,82.0,2720,19.4,82,1,0

In [14]:
Y = data.iloc[:,0] 
Y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

# MULTIPLE LINEAR REGRESSION

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state = 1)

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [18]:
y_pred = regressor.predict(x_test)
y_pred

array([20.87554506, 27.79280587, 20.06954758, 26.67237514, 24.17624557,
       15.81338022, 29.40391466, 34.63739169, 16.937085  , 10.56926239,
       30.01656291, 16.7662867 , 22.08472384, 27.06049291, 36.48609906,
       23.39616682, 10.45042173, 20.10432818,  8.84000187, 33.24121606,
       26.26585637, 31.84414069, 20.54941119, 25.22477334, 25.73022225,
       29.71700959, 32.70896026, 32.74666909, 14.7754941 , 29.79030029,
       27.14557337, 10.44626928, 21.37279136, 28.74024455, 24.68175323,
       13.48851345, 26.32670083,  8.91944576, 31.15602197, 23.65521601,
       23.80822508, 24.28062934, 20.81081604, 33.64518142, 25.72164307,
       22.0032697 , 21.07217597, 11.52369073, 28.64322357, 18.89972015,
       24.39645446, 26.39348659, 16.72009471, 11.98644824, 28.14733398,
       25.14376289, 10.000123  , 12.87652238, 30.64466163, 35.77331031,
       36.05048163, 35.84671176, 17.76420867, 27.26253143, 20.25498762,
       32.98951606, 26.28468642, 26.43027481, 29.4003923 , 12.39083832,
       20.17593438, 22.2976306 , 13.93147347, 26.16117432, 11.55829604,
       25.12361018, 28.32479049, 16.38507584, 11.82865029, 23.7243985 ])

In [19]:
y1 = np.array(y_test)
y1.reshape(len(y_test))

array([18. , 28.1, 19.4, 20.3, 20.2, 16. , 29. , 37.7, 15.5, 12. , 29. ,
       17. , 18.1, 21.5, 39.1, 22. , 15. , 20. , 12. , 31.8, 24. , 29. ,
       21. , 27. , 24.3, 26. , 32.4, 32.8, 17. , 26. , 25. , 14. , 21. ,
       27.5, 24.5, 13. , 26. , 12. , 32. , 25. , 25. , 25.5, 17.6, 33. ,
       26.8, 20.6, 18.5, 13. , 29. , 18.5, 27. , 27.9, 13. , 13. , 33.5,
       28. , 11. , 14. , 32. , 38. , 36. , 32. , 17.5, 23.5, 18.5, 41.5,
       28.8, 20.2, 27.2, 14. , 16.5, 22. , 14. , 27.4, 14. , 28. , 36.4,
       15.5, 14. , 26. ])

# ACCURACY (86.47%)

In [22]:
regressor.score(x_test,y_test)

0.8647729653026777

In [26]:
regressor.score(x_train, y_train)

0.8143785617196869